:root{
    --white: #f4fffc;
    --black: #121212;
    --gray: #606060;


    --container-maxwidth: 60rem;
    --page-padding: 1.5rem;
    
    --fs-body:1rem;
    
    --fl-10: 1;
    --fl-11: 1.1;
    --fl-14: 1.4;

    --fw-normal:400;
    --fw-bold:600;
    
    --size-050: 0.5rem;
    --size-100: 1rem;
    --size-125: 1.25rem;
    --size-150: 1.5rem;
    --size-200: 2rem;
    --size-300: 3rem;
    --size-400: 4rem;
}

@media (prefers-color-scheme: dark) {
    :root{
        --white: #000;
        --black: #fff;

/*         --fw-normal:300;
 */    }

    .icon{
      filter: invert(1);
    }
}

@media (max-width: 40rem) {
  :root{
/*     --page-padding: 2rem;
 */  }
}

/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
  }
  /* Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering*/
  body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
/* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  ul{
    list-style: none;
  }



html {
    color-scheme: dark light;
}

body {
    font-family: "Archivo", sans-serif;
    
    font-size: var(--fs-body);
    line-height: var(--fl-14);
    font-weight: var(--fw-normal);
    
    color: var(--black);
    background-color: var(--white);
}

p{
  max-width: 30rem;
}

.bold{
  font-weight: var(--fw-bold);
}

.muted{
  opacity: 0.6;
}

h1,
h2,
h3,
h4 {
    font-size: var(--size-150);
    line-height: var(--fl-14);   
}

.title{
  font-size: var(--size-150);
  line-height: var(--fl-11);
}

.subtitle{
  font-size: var(--size-125);
  line-height: var(--fl-11);
}

.text-normal{
  font-size: inherit;
  line-height: inherit;
}

/* .text-medium{
  font-size: var(--size-125);
} */

.capitalize{
  text-transform: capitalize;
}

a{
  color: var(--black);
  opacity: 1;
  text-decoration: none ;
  transition: all 200ms ease;
}

a:hover{
  opacity: 1;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2rem;
}

section{
  padding-block:var(--size-400) ;
}

.padding-block-small{
  padding-block:var(--page-padding) ;
}

.padding-global{
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
}

.container{
  max-width: var(--container-maxwidth);
  margin-left: auto;
  margin-right: auto;
}

.grid{
  display: grid;
  gap: var(--page-padding);
  grid-column: 1fr;
}

.col-2{
  grid-template-columns: 1fr 1fr;

}

.col-4{
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 1fr; /* make all rows the same height */
}

.span-all{
  grid-column: span 2;
}

@media screen and (max-width: 600px) {
  .col-2{
    grid-template-columns: 1fr;
  }
  
  .span-all{
    grid-column: unset;
  }
}

.flex-row{
  display: flex;
  flex-wrap: wrap;
}

.flex-between{
  justify-content: space-between;
}

.flex-col{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.gap-050{
  gap:var(--size-050);
  row-gap:var(--size-050);
}

.gap-100{
  gap:var(--size-100);
  row-gap:var(--size-100);
}

.gap-200{
  gap:var(--size-200);
}

.gap-300{
  gap: var(--size-300);
}



.poster {
  background-color: var(--black);

  aspect-ratio: 2.7 / 4;
  object-fit: cover;
  height: auto;
  width: 100%;
}

.icon{
  display: inline-block;
  height: 1.15rem;
  align-self: center;
}

.time{
  border: 1px solid var(--black);
  padding-inline: var(--size-050);
}


/* Navigation Bar */
.header-nav{
  z-index: 9999;

  background-color: var(--white);

  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  height: 100%;
  min-height: var(--size-400);
/*   border-bottom: 1px solid var(--black);
 */}

.logo{
  z-index: 999;
}

/* hide checkbox & menu */
.check-icon{
  appearance: none;
  -webkit-appearance: none;
}

.hamb {
  display: none;
  z-index: 8888;
}

.main-nav ul{
  display: flex;
  flex-direction: row;
  gap: var(--page-padding);
}

.main-nav a{
  padding-block: 0.5rem;
}

/* Responsiveness Desktop */
@media screen and (max-width: 600px) {

  .hamb {
    display: block;
    padding-block: 0.5rem;
  }
  
  .main-nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    background-color: var(--white);
    font-size: var(--size-125);

    width: 100%;
    padding-block: var(--page-padding);

    /* mobile nav animation */
    opacity: 0;
    height: 0vh;
    transition: all .3s ease-in-out;
    border-bottom: 1px solid var(--black);
    }

  .main-nav ul{
    flex-direction: column;
    padding-block: var(--size-300);
  }

  .hamb,
  .check-icon{
  display: block;
  cursor: pointer;
}

/* Toggle menu icon */
.check-icon:checked ~ .main-nav{
  /* mobile nav animation on menu click */
  opacity: 1;
  height: 30vh;
}

.hamb-line{
  background-color: none;
  display: block;
  height: 1px;
  width: var(--size-150);
  position: relative;
}

.hamb-line::before,
.hamb-line::after{
  height: 1px;
  width: var(--size-150);
  background: var(--black);
  content: "";
  display: block;
  position: absolute;
  transition: all .2s linear;
}

.hamb-line::after{
  top: 3px;
}
.hamb-line::before{
  top: -3px;
}

.check-icon:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;
  transition: all .2s linear;
}
.check-icon:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
  transition: all .2s linear;
}

body:has(.check-icon:checked) {
  overflow: hidden;
  }
}

/* *{
  outline: 1px solid salmon;
}    */
  