{{ define "main" }}



                {{ $data := dict }}
                {{/*  Google sheet published on Web as csv  */}}
                {{ $csv := .Site.Params.csv }}
                {{/*  Formatta la data di oggi come stringa con lo stesso formato estratto dal file csv/google sheet  */}}
                {{ $formatnow := time.Format .Site.Params.timeformat now }}  
{{/*                  {{ printf "%t" $formatnow }} <!-- Stampa la struttura di ogni riga per il debug -->      */}}


            {{ with resources.GetRemote $csv }}

                {{/*  separa valori delimitati da virgola e li inserisce in map (con dict)  */}}
                {{ $opts := dict "delimiter" "," }}  
                {{/*  trasforma righe in array di stringhe  */}}
                {{ $data = . | transform.Unmarshal $opts }} 

                {{/*  Itera tra le righe  */}}
                {{range $i, $data }}
                    {{/*  Separa le righe in singoli valori e le assegna nell array (split)  di stringhe  $giorno  */}}
                    {{ $giorno := split (index . 1) "," }} 
                    {{/*  Verifica che ci sia un film con la data di oggi  */}}
                    {{if eq $formatnow (index $giorno 0)}}
                        <section>
                            <div class="padding-global">
                                <div class="container">
                                    <div class="grid col-2 gap-200">

                                        <h1 class="span-all">Questa Sera</h1>

                                        {{ $image := resources.GetRemote (index . 3) }}
                                        {{ $image_webp := $image.Fill "1000x1500 Center webp q70" }}
                                        <img class="poster" src="{{ $image_webp.RelPermalink }}" alt="poster {{ index . 0}}">

                                        <div class="flex flex-col gap-100">
                                            <h2>{{index . 0}}</h2>
                                            <div class="flex flex-row gap-050">
                                                <img class="icon" src="icons/date.svg" alt="">
                                                <h3 class="capitalize text-normal">{{index . 1}}</h3>
                                            </div>
                                            <div class="flex flex-row gap-050">
                                                <img class="icon" src="icons/time.svg" alt="">
                                                <ul class="flex-row gap-100">
                                                    {{range split (index . 2) ","}}
                                                    <li>{{ . }}</li>
                                                    {{end}}
                                                </ul>    
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </section>
                    {{end}}
                {{end}}
                <section>
                    <div class="padding-global">
                        <div class="container">
                            <h2 class="padding-block-small">Prossimamente</h1>
                            <div class="grid col-4">
                                {{range after 1 $data }}
                                {{/*  Separa le righe in singoli valori e le assegna nell array (split)  di stringhe  $giorno  */}}
                                {{ $giorno := split (index . 1) "," }} 
                                    
                                    {{/*  Verifica che ci sia un film DOPO la data di oggi  */}}
                                    {{if gt $formatnow (index $giorno 0)}}

                                        <figure class="grid gap-050" >   
                                            {{ $image := resources.GetRemote (index . 3) }}
                                            {{ $image_webp := $image.Fill "500x750 Center webp q70" }}
                                            <img class="poster" src="{{ $image_webp.RelPermalink }}" alt="poster {{ index . 0}}">                           
{{/*                                              <h3 class="text-normal">{{index . 0}}</h3>
  */}}                                            <h4 class="text-normal">{{index . 1}}<h4>                 
                                        </figure>
                                    {{end}}
                                {{end}}
                            </div>
                        </div>
                    </div>
                </section>
                {{end}}

{{end }}
